
#buttongroup{
    text-align: end;
}

#border{
    border: 2px solid black;
    border-radius: 5%;

@media(max-width:575px){
    #border{
        border: none;
    }
    #logo-container {
        text-align: center;
    }
}
